---
# Resource Modifier ConfigMap for temporary namespace restore
# Strips finalizers so the temp namespace can be deleted cleanly
apiVersion: v1
kind: ConfigMap
metadata:
  name: openstack-restore-tmp-resource-modifiers
  namespace: {{ cifmw_backup_restore_oadp_namespace }}
data:
  resource-modifiers.yaml: |
    version: v1
    resourceModifierRules:
    - conditions:
        groupResource: "*"
        namespaces:
        - openstack-restore-tmp
      mergePatches:
      - patchData: |
          metadata:
            finalizers: null
