---
# RabbitMQ Credential Restore
# Restores secrets to a temporary namespace for credential extraction
apiVersion: velero.io/v1
kind: Restore
metadata:
  name: openstack-restore-rabbitmq-secrets-{{ restore_suffix }}
  namespace: {{ cifmw_backup_restore_oadp_namespace }}
spec:
  backupName: {{ resources_backup_name }}
  includedNamespaces:
  - {{ cifmw_backup_restore_namespace }}
  namespaceMapping:
    {{ cifmw_backup_restore_namespace }}: openstack-restore-tmp
  includedResources:
  - secrets
  resourceModifier:
    kind: ConfigMap
    name: openstack-restore-tmp-resource-modifiers
