---
# RabbitMQUser CRs for credential restore
{% for cluster_name in rabbitmq_clusters %}
apiVersion: rabbitmq.openstack.org/v1beta1
kind: RabbitMQUser
metadata:
  name: {{ cluster_name }}-restored-user
  namespace: {{ cifmw_backup_restore_namespace }}
spec:
  rabbitmqClusterName: {{ cluster_name }}
  secret: {{ cluster_name }}-restored-user
  tags:
    - administrator
  permissions:
    configure: ".*"
    read: ".*"
    write: ".*"
{% if not loop.last %}
---
{% endif %}
{% endfor %}
