---
# Restore Order 10: Foundation Resources
# Restores NADs, Secrets, ConfigMaps (user-provided resources without ownerRefs)
# Must be restored after PVCs and before CRs
apiVersion: velero.io/v1
kind: Restore
metadata:
  name: openstack-restore-10-foundation-{{ restore_suffix }}
  namespace: {{ oadp_namespace }}
spec:
  backupName: {{ resources_backup_name }}
  includedNamespaces:
  - {{ openstack_namespace }}
  labelSelector:
    matchLabels:
      backup.openstack.org/restore: "true"
      backup.openstack.org/restore-order: "10"
  resourceModifier:
    kind: ConfigMap
    name: openstack-restore-resource-modifiers
