---
# Restore Order 60: DataPlane Resources
# Restores OpenStackDataPlaneNodeSet and related dataplane resources
# Must be restored after ControlPlane is fully operational
apiVersion: velero.io/v1
kind: Restore
metadata:
  name: openstack-restore-60-dataplane-{{ restore_suffix }}
  namespace: {{ oadp_namespace }}
spec:
  backupName: {{ resources_backup_name }}
  includedNamespaces:
  - {{ openstack_namespace }}
  labelSelector:
    matchLabels:
      backup.openstack.org/restore: "true"
      backup.openstack.org/restore-order: "60"
  resourceModifier:
    kind: ConfigMap
    name: openstack-restore-resource-modifiers
